.Rater[data-v-f72ab946]{width:100%;padding-top:50px;display:flex;flex-direction:column;justify-content:center;align-items:center}.Rater p[data-v-f72ab946]{text-indent:10px;font-weight:700;font-size:14px;margin:10px 0}
