.RadioBox[data-v-d0396a80]{padding-top:100px}.RadioBox p[data-v-d0396a80]{width:100%;font-weight:700;font-size:16px;margin:20px 0}.RadioBox .item[data-v-d0396a80]{width:100%;display:flex;justify-content:center}
