.CheckBox[data-v-7b84a806]{padding-top:100px}.CheckBox p[data-v-7b84a806]{width:100%;font-weight:700;font-size:16px;margin:20px 0}.CheckBox .item[data-v-7b84a806]{width:100%;display:flex;justify-content:center}
